<div class="fluid-container text-center" ng-controller="galerieCtrl">
    <h1><strong>Galerie</strong></h1>
    <div ng-if="!imgSrc">
        <h4>Pas de photos enregistrées ... </h4>
    </div>
    <div class="mx-0 my-3 text-center" ng-if="imgSrc">
        <div class="row justify-content-center" ng-show="imgSrc.length != 0">
            <ul class="pagination my-3 text-white">
                <li class="page-item">
                    <a class="page-link" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                        Previous </a>
                </li>
                <li class="page-item disable">
                    <a class="page-link active">
                        {{currentPage+1}}/{{numberOfPages()}} </a>
                </li>
                <li class="page-item">
                    <a class="page-link active" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                        Next </a>
                </li>
            </ul>
        </div>
        <div class="row mx-0" ng-show="imgSrc.length > 0">
            <div class="col-md-3" ng-repeat="i in imgSrc | startFrom: currentPage*pageSize | limitTo:pageSize">
                <a href="data:image/jpg;base64,{{i}}">
                    <img class="img-fluid img-thumbnail rounded bg-secondary" alt="image" ng-src="data:image/jpg;base64,{{i}}">
                </a>
            </div>
        </div>
        <div class="row mx-auto justify-content-center" ng-show="imgSrc.length != 0">
            <ul class="pagination my-3 text-white">
                <li class="page-item">
                    <a class="page-link" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                        Previous </a>
                </li>
                <li class="page-item disable">
                    <a class="page-link active">
                        {{currentPage+1}}/{{numberOfPages()}} </a>
                </li>
                <li class="page-item">
                    <a class="page-link active" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                        Next </a>
                </li>
            </ul>
        </div>
    </div>
</div>